.aboutContainer {
  min-height: 90vh;
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8% 5%;
  gap: 100px;
  
}

/* Hero section */
.hero {
  max-width: 1000px;
  text-align: center;
  animation: fadeUp 1s ease;
  transition: all 0.4s ease;
  box-shadow:
  0 5px 20px rgba(0,0,0,0.25);
  
}
.hero:hover{
   box-shadow:
  0 15px 35px rgba(56, 189, 248, 0.2);
}

/* Heading */
.hero h1  {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
    color: #38bdf8;
  margin-bottom: 20px;
  letter-spacing: 1px;
  transition: transform 0.6s ease, color 0.4s ease;

   
}
.hero h1:hover {
      transform: translateX(150px);
      color: white;
    

}
.hero h2{
  color: rgb(255, 241, 183);
  font-size: 35px;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: transform 0.7s ease, color 0.5s ease;
}
.hero h2:hover{
  transform: scaleY(1.2);
  color: red;
}



/* Paragraph */
.hero p {
  font-size: 20px;
  line-height: 1.8;
  color: #e2e8f0;
  font-family: "Inter", sans-serif;
  margin-bottom: 35px;
 
}
.hero p:hover{
  color: yellow;
}


/* Buttons container */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}




.skillsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}

.skillCard {
  background: #00307e;
  padding: 30px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.skillCard:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.2);
}

.skillCard h3 {
  color: #ff0c0c;
  margin-bottom: 20px;
  font-size: 24px;
}

.skillCard span {
  display: inline-block;
  margin: 8px;
  padding: 8px 16px;
  background: #fefeff;
  border-radius: 25px;
  font-size: 15px;
  color: #000000;
  transition: 0.3s ease;
}

.skillCard span:hover {
  background: #38bdf8;
  color: white;
}


.projectBtn {
  display: inline-block;
  margin-top: 40px;
  padding: 16px 35px;
  background: #38bdf8;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease;
  animation: bounce 2s infinite;
}

/* hover */
.projectBtn:hover {
  background: #0ea5e9;
  transform: translateY(-5px);
}

/* bouncing animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}


