.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: #000000; /* dark professional color */
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(215, 206, 206, 0.2);
   
}

/* Logo */

.Logo img {
  height: 100px;
  width: 120px;
  background-color: black;

}

/* Menu container */
.menu {
  display: flex;
  gap: 40px;
  align-items: center;
  background: #030917; 
}

/* NavLink base style */
.link {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  position: relative; 
  background: #030917; 
  color: white;
}



/* underline animation */
.link:hover {
   transform: translateY(-3px);
   font-size: 28px;
   color: yellow;
  transition: 0.3s ease-in-out;
  
}





@media (max-width: 992px) {

  .Header {
    padding: 15px 25px;
  }

  .menu {
    gap: 20px;
  }

  .link {
    font-size: 18px;
  }

  .Logo img {
    height: 70px;
  }
}

/* ======================= */
/* Mobile */
/* ======================= */

@media (max-width: 768px) {

  .Header {
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding: 15px;
  }

  .Logo img {
    height: 60px;
    margin-bottom: 10px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;

    gap: 15px;
    width: 100%;
  }

  .link {
    font-size: 16px;
  }
}

/* ======================= */
/* Small Mobile */
/* ======================= */

@media (max-width: 480px) {

  .Header {
    padding: 10px;
  }

  .Logo img {
    height: 50px;
  }

  .menu {
    gap: 10px;
  }

  .link {
    font-size: 14px;
  }
}

